img.pngimage {
    behavior: url(./js/png.htc);
}

.topshadow, .leftshadow, .rightshadow {
    background: none;
}

#homescreenshadow {
    display: none;
}

#homescreenshot {
    border: 1px solid #ccc;
    top: 14px;
    left: 25px;
}

.floatingcol {
    float: none;
}

