.directory_checkbox {
    padding:2px 4px;
    overflow:auto;
    clear:both;
    cursor:pointer;
    line-height:18px;
}

.directory_checkbox input {
    display:block;
    float:left;
    cursor:pointer;
}

.directory_checkbox span {
    display:block;
    margin-left:24px;
}

h1.directory_title {
    font-size:14px;
    font-weight:bold;
    margin:0;
    padding:2px 4px;
}

h2.directory_title {
    font-size:11px;
    font-weight:bold;
    margin:0;
    padding:2px 4px;
}


.directory_shared_main {
    border-bottom:1px solid #a0a0a0;
    overflow:auto;
    background:#f8f8f8;
}

.directory_shared_treeview {
    float:left;
    width:30%;
}

.directory_shared_heading {
    border-left:1px solid #a0a0a0;
    overflow:hidden;
    background:#f0f0f0;
}

.directory_shared_managers {
    padding:4px;
    overflow:auto;
}

.directory_search {
	padding:4px;
	background-color:#f0f0f0;
	border-bottom:2px solid #c0c0c0;
	overflow:auto;
}