.directory_shared_main {
    overflow:visible;
    height:1%;
}

.directory_shared_heading {
    overflow:visible;
    height:1%;
}

.directory_shared_managers {
    overflow:visible;
    height:1%;
}

.directory_search {
    overflow:visible;
    height:1%;
}