.system_trombi {
}

.system_trombi h1 {
    font-size:12px;
    font-weight:bold;
    margin:8px 0;
}

.system_trombi .result {
}

.system_trombi table {
    width:95%;
    padding:0px;
    margin:2px;
    border:1px solid #c0c0c0;
    border-collapse:collapse;
}

.system_trombi table th {
    padding:2px;
    vertical-align:top;
}

.system_trombi table td {
    padding:2px;
    vertical-align:top;
}

.system_trombi table tr.system_trombi_title {
    background-color:#e0e0e0;
}

.system_trombi table tr.system_trombi_user {
    cursor:pointer;
    background-color:#ffffff;
}

.system_trombi_form {
}

.system_trombi_form h1 {
    background-color:#c0c0c0;
    border-bottom:1px solid #a0a0a0;
    font-size:13px;
    font-weight:bold;
    margin:0;
    padding:2px 4px;
}

.system_trombi_form h2 {
    background-color:#c0c0c0;
    border-bottom:1px solid #a0a0a0;
    font-size:12px;
    font-weight:bold;
    margin:0;
    padding:2px 4px;
}

.system_trombi_index {
    padding:2px;
    overflow:auto;
}

.system_trombi_index > a {
    border-left:1px solid #888;
    border-top:1px solid #888;
    border-bottom:1px solid #888;
    display:block;
    float:left;
    padding:1px 0px;
    margin-left:0;
    border-radius:0 10px 0 0;
    width:20px;
    text-align:center;
}

.system_trombi_index > a:hover {
    background-color:#eee;
    text-decoration:none;
}

.system_trombi_index > a.selected {
    background-color:#ccc;
    font-weight:bold;
}

.system_trombi_index > a:last-child {
    border-right:1px solid #888;
}
