/**
 * Script original de colorjack.
 * Adapté pour Ploopi par Stéphane Escaich / OVENSIA
 *
 * @link http://www.colorjack.com/software/dhtml+color+picker.html
 */

#plugin {
   color: #444;
   display: block;
   padding: 7px 10px 11px 10px;
   overflow:auto;
}

#SV {
    background: #ff0000 url('../../../../img/colorpicker/satval.png');
    position: relative;
    cursor: pointer;
    float: left;
    height: 166px;
    width: 167px;
    margin-right: 10px;
    border:1px solid #000;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#SVslide {
    background: url('../../../../img/colorpicker/slide.gif');
    height: 9px;
    width: 9px;
    position: absolute;
    top: -4px;
    left: -4px;
    line-height: 1px;
}

#H {
    border: 1px solid #000;
    cursor: pointer;
    float: left;
    height: 166px;
    position: relative;
    width: 19px;
    padding: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#Hslide {
    background: url('../../../../img/colorpicker/slideHue.gif');
    top:-2px;
    left:-8px;
    height: 5px;
    width: 33px;
    position: absolute;
    line-height: 1px;
}

#Hmodel {
    position: relative;
}

#Hmodel div {
    height: 1px;
    width: 19px;
    line-height: 1px;
    margin: 0;
    padding: 0;
}

#colorpicker_footer {
    clear:both;
    padding-top:4px;
    overflow:auto;
}

#colorpicker_footer .text {
    float:left;
    width:60px;
    margin-left:3px;
}

#colorpicker_footer .button {
    float:left;
    margin-left:3px;
}

#plugCUR {
    float: left;
    width: 18px;
    height: 16px;
    background: #FFF;
    border:1px solid #000;
    margin-left:3px;
}
