/**
 * Script original de colorjack.
 * Adapté pour Ploopi par Stéphane Escaich / OVENSIA
 *
 * @link http://www.colorjack.com/software/dhtml+color+picker.html
 */

#plugin {
    padding-right: 0;
    width: 210px;
}

#plugCUR {
    font-size: 1px;
}

#SV {
    background: #ff0000;
    width: 166px;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../../img/colorpicker/satval.png', sizingMethod='scale');
}

#SVslide {
    font-size: 1px;
}

#Hslide {
    font-size: 1px;
}

#Hmodel div {
    font-size: 1px;
}
