<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title><phpdig:title_message/></title>
<phpdig:listmetatag/>
<style type="text/css">
<!--
a { text-decoration: none; }
.phpdigHighlight { color: #330000; background-color: #BFDFFF; font-weight: bold; }
.color_table_outline {
	background-color: #cccccc;
	color: #000000;
	border: 1px solid #000000;
}
.color_top_bottom {
	background-color: #eeeeee;
	color: #000000;
}
.color_sub_top_bottom {
	background-color: #dddddd;
	color: #000000;
}
.color_table_cells {
	background-color: #ffffff;
	color: #000000;
}
-->
</style>
<phpdig:js_for_clicks/>
</head>
<body bgcolor="#fefefe" link="#486591" vlink="#6f6c81" background="tpl_img/aq_background.gif">
<center />
  <p><phpdig:templates_links/></p>
</center>

<table width="85%" align="center" cellpadding="0" cellspacing="2">
  <tr>
    <td colspan="2"> <!-- BEGIN portal -->
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="15" height="15" background="tpl_img/coinsupg.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
          <td height="15" background="tpl_img/sup.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
          <td width="15" height="15" background="tpl_img/coinsupd.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
        </tr>
        <tr>
        <phpdig:form_head/>
          <td width="15" background="tpl_img/g.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
          <td background="tpl_img/fond.gif" align="left" width="100%">
            <div align="center"><b><phpdig:form_title/></b></div>
            <table width="100%" align="center">
              <tr>
                <td align="left" width="69%">
                  <div align="center"><b><phpdig:form_field/><phpdig:form_button/></b></div>
                </td>
                <td align="left" width="31%">
                  <div align="center"><b><font size="-1"><phpdig:form_select/></font></b></div>
                </td>
              </tr>
              <tr>
                <td align="left" colspan="2">
                  <div align="center"><font size="-1"><phpdig:form_radio/></font></div>
                </td>
              </tr>
              <tr>
                <td align="left" colspan="2">
                  <div align="center"><font size="-1"><phpdig:form_dropdown/></font></div>
                </td>
              </tr>
              <tr>
                <td align="left" colspan="2">
                  <div align="center">
                  <b><phpdig:result_message/></b> <br />
                  <i><phpdig:ignore_message/></i> <br />
                  <i><phpdig:ignore_commess/></i>
                  </div>
                </td>
              </tr>
            </table>
          </td>
          <td width="15" background="tpl_img/d.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
        <phpdig:form_foot/>
        </tr>
        <tr>
          <td width="15" height="15" background="tpl_img/coininfg.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
          <td height="15" background="tpl_img/inf.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
          <td width="15" height="15" background="tpl_img/coininfd.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
        </tr>
      </table>
      <!-- END portal --> </td>
  </tr>
  <phpdig:results>
  <tr>
    <td colspan="2"> <!-- BEGIN portal -->
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="15" height="15" background="tpl_img/coinsupg.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
          <td height="15" background="tpl_img/sup.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
          <td width="15" height="15" background="tpl_img/coinsupd.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
        </tr>
        <tr>
          <td width="15" background="tpl_img/g.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
          <td background="tpl_img/fond.gif" align="left" width="100%"><font size="4"><b><phpdig:n/></b></font>.
            <b><font size="4"><phpdig:page_link/></font></b>
            <table width="100%" align="center">
              <tr>
                <td align="right" colspan="3"><font size="-1"><phpdig:weight/>&nbsp;%</font></td>
                <td align="left" width="20%" valign="middle"><font size="-1"><img height="16" src="tpl_img/bar_left.gif" alt=""><img src="tpl_img/bar_middle.gif" height="16" width="<phpdig:weight/>" alt=""><img height="16" src="tpl_img/bar_right.gif" alt="">&nbsp;</font></td>
                <td align="right" colspan="3" width="69%">&nbsp;</td>
              </tr>
              <tr>
                <td align="left" colspan="3">&nbsp;</td>
                <td align="left" width="89%" colspan="4"><font size="-1"><phpdig:text/></font></td>
              </tr>
              <tr>
                <td align="left" colspan="3">&nbsp;</td>
                <td align="left" width="20%">&nbsp;</td>
                <td align="right" colspan="3" width="69%"><font size="-1"><phpdig:limit_links/></font></td>
              </tr>
            </table>
          </td>
          <td width="15" background="tpl_img/d.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
        </tr>
        <tr>
          <td width="15" height="15" background="tpl_img/coininfg.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
          <td height="15" background="tpl_img/inf.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
          <td width="15" height="15" background="tpl_img/coininfd.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
        </tr>
      </table>
      <!-- END portal --> </td>
  </tr>
  </phpdig:results>
<tr>
    <td colspan="2"> <!-- BEGIN portal -->
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="15" height="15" background="tpl_img/coinsupg.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
          <td height="15" background="tpl_img/sup.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
          <td width="15" height="15" background="tpl_img/coinsupd.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
        </tr>
        <tr>
          <td width="15" background="tpl_img/g.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
          <td background="tpl_img/fond.gif" align="left" width="100%"><div align="center"><b><phpdig:nav_bar/></b><phpdig:listing/></div></td>
          <td width="15" background="tpl_img/d.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
        </tr>
        <tr>
          <td width="15" height="15" background="tpl_img/coininfg.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
          <td height="15" background="tpl_img/inf.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
          <td width="15" height="15" background="tpl_img/coininfd.gif"><img src="tpl_img/space15_15.gif" width="15" height="15"></td>
        </tr>
      </table>
      <!-- END portal --> </td>
  </tr>
</table>
<hr />
Based on template &quot;aq&quot; from <a href="http://phpsysinfo.sourceforge.net/">PhpSysInfo</a>.
<div align="center">
<phpdig:powered_by_link/>
</div>
</body>
</html>